.recall-card {
    border: 1px solid #000;
    background: #FFF9F9;
    margin-bottom: 20px;
    padding: 20px;
}

.tag {
    display: inline-block;
    padding: 4px 10px;
    background: #000;
    color: #fff;
    font-size: 10px;
    margin-top: 10px;
    font-weight: bold;
    border-radius: 2px;
}

.tag.match-alert {
    background: #ff0033;
}